html{
    scroll-behavior: smooth;
}

body{
    background-image: url("../pictures/chalk.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.center_face{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 25%;
    height: 50%;
    background-blend-mode: lighten;
    /* opacity: 0.4; */
}

.center_face:hover{
    opacity: 0.4;
    filter:alpha(opacity=40);
    -webkit-webkit: opacity 0.4;
    -moz-webkit: opacity 0.4;
    -ms-webkit: opacity 0.4;
    -o-webkit: opacity 0.4;
}

/*ul stands for unlisted list  */
/*This is the beginning of creating my navigation bar */
ul{
    position: -webkit-sticky; /* Safari */
    position: sticky; /*Allow me when my webpage scrolls the navigation bar follows too */
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
}

/* Place my navigation bar to the right */
li{
    float: right;
}

/* */
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*When your mouse cursor hover over one of the option it will highlight black */
li a:hover{
    background-color: green;
}

/*Tells me which option is active right now */
/* .active{
    background-color: #4CAF50
} */
/* The end of my navigation bar creation*/

h1{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    font-size-adjust: 0.60;
    color: white;
}

#section1{
    height: 1000px;
    color: white;
    text-align: center;
}

#section2{
    height: 1000px;
    color: white;
    text-align: center;
}

#section3{
    height: 1000px;
    color: white;
    text-align: center;
}

/* .About{
    height: 1000px;
    color: white;
    text-align: center;
}

.Contact{
    height: 1000px;
    color: white;
    text-align: center;
} */


.email{
    color: green;
}