body{
    background-image: url("../pictures/kirby_n_soda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 30%;
    background-color: white;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    font-size-adjust: 0.60;
}